/* RESET  */
@font-face {
    font-family: minion-pro;
    src: url(../minionPro.otf);

    font-family: garde-gothic;
    src: url(../garde-gothic.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #011e41;
    --secondary-text-color: #363636;
    --desc-text-color: #1c355e;
    --accent-color-dark: #3d7dca;
    --padding-inline-section: 20px;

    @media(max-width:480px){
        font-size:75%;
    }
}

body {
    font-family: garde-gothic, sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: minion-pro, serif;
    color: var(--desc-text-color);
    font-size: 1.30rem;
    line-height: 32px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* Utility */
.container {
    max-width: 1048px;
    margin: auto;
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
}

.column-flex {
    display: flex;
    flex-direction: column;
}


.primary-button {
    color: white;
    background-color: var(--accent-color-dark);
    padding: 10px 24px;

    @media(max-width:480px){
        font-size:1rem;
        padding: 5px 10px;
    }
}

.secondary-button {
    border: solid 1px var(--accent-color-dark);
    padding: 10px;
    color: var(--accent-color-dark);
}

.secondary-button:hover {
    color: white;
    background-color: var(--accent-color-dark);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.primary-button:hover {
    box-shadow: 0 0 4px var(--accent-color-dark);
    transition: 0.2s ease-in-out;
}

.hover-link {
    color: var(--accent-color-dark);

    @media(max-width:480px){
        font-size:1rem;
    }
}

.hover-link:hover {
    color: var(--secondary-text-color);
    transition: 0.2s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}




/* NAV- BAR */

.navbar {
    justify-content: space-between;
    padding-inline: var(--padding-inline-section);
    margin-block: 30px;

    @media(max-width:480px){
        margin-inline:20px;
        padding-inline:20px;
        margin:auto;
        gap:10px;
    }
    
}

.logo img {
    height: 80px;
    width: 100px;

    @media(max-width:480px){
        height: 60px;
        width: 80px;
    }
}

.menu {
    display: flex;
    align-items: center;
}

.menu-items {
    color: var(--accent-color-dark);
    font-size: 1.2rem;
    gap: 45px;
    justify-content: center;
    align-items: center;

    @media(max-width:480px){
        gap: 15px;
    }
}


/* HERO - ITEM */
.hero {
    margin-block: 150px;
    /*Gives Top and Bottom */
}

.hero-item {
    max-width: 720px;
    padding-inline: 25px;

    @media(max-width:480px){
        padding-inline: 55px;
    }
}

.hero-item h1 {
    font-size: 3rem;
    margin-bottom: 20px;

    @media(max-width:480px){
        font-size: 1.75rem;
    }
}

.hero-item p {
    text-align: start;
    font-size: 1.37rem;
    word-spacing: 3.5px;
    margin-bottom: 50px;
}

.plus-sign {
    color: #ffda27 !important;
    font-weight: normal;
}

.hero-item a {
    font-size: 1.5rem;

    @media(max-width:480px){
        font-size:1rem;
    }
}




/* Journey Details  -- BOOKING PAGE*/
.journey-details-container {
    margin-block: 50px;
    padding-inline: 20px;
}

.dropdown {
    padding-block: 5px;
    padding-inline: 12px;
    font-size: 1rem;
    margin-right: 20px;
    font-family: minion-pro, serif;

    @media(max-width:480px){
        display:block;
        margin-block:10px;
    }

}

.label-text {
    font-size: 1.2rem;
}

.book-btn {
    justify-content: center;
    margin-right: 20px;
}


/* ADD PASSENGER PAGE */

.add-pass h2{
    @media(max-width:480px){
       font-size:1.35rem; 
    }
}

.payment-btn {
    margin-block: 20px;
}

.passenger-container {
    max-width: 800px;
    padding-inline: 25px;
}

.header {
    justify-content: space-between;
    margin-block: 20px;

}

.input-field {
    padding-inline: 5px;
    font-family: minion-pro, serif;
    font-size: 0.9rem;
}

#add-passenger {
    padding-inline: 10px;
    border-radius: 5px;
    background-color: rgb(161, 236, 87);
    cursor: pointer;
    border: #a1ec57;
    font-family: garde-gothic, sans-serif;

    @media(max-width:480px){
        font-size:0.8rem;
        padding-inline: 8px;
        padding-block:8px;
     }
}

#add-passenger:hover {
    border: 2px solid #cccc;
}

#add-passenger:active {
    box-shadow: 0 0 5px;
}

.remove-passenger {
    padding-inline: 10px;
    padding-block: 5px;
    background-color: #f34c4c;
    cursor: pointer;
    font-family: garde-gothic, sans-serif;
    border: solid 2px #f34c4c;
    border-radius: 4px;

    @media(max-width:480px){
        font-size:0.8rem;
        padding-inline: 6px;
        padding-block: 3px;
      }
}

.remove-passenger:active {
    box-shadow: 0 0 4px;
}

.remove-passenger:hover {
    background-color: #ee2121;
    border: 2px solid #ffff;
}

.input-flex {
    display: flex;
    justify-content: space-between;
    margin-block: 10px;

    @media(max-width:480px){
        display:block;
        
     }
}

.input-flex input{

    @media(max-width:480px){
        margin-block:5px;
     }
}

.input-container{
    @media(max-width:480px){
       margin-bottom:15px;
     }
}

.input-container > input, select{
    @media(max-width:480px){
        padding-inline:10px;
        padding-block:2.5px;
        margin-inline:1.5px;
      }
}

/* Modal */
dialog {
    border: 0.1px solid rgb(167, 167, 167);
    border-radius: 15px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

dialog::backdrop {
    backdrop-filter: blur(2px);
}


#close-modal {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#close-modal:active {
    border: 1px solid #cccc;
}

.modal-container {
    margin: 20px;
    max-height: 150px;
    max-width: 500px;
    overflow: auto;

    @media(max-width:480px){
        width: 270px;
     }
}

.modal-container::-webkit-scrollbar {
    width: 10px;
    background-color: #bb1717cc;
}

.modal-container::-webkit-scrollbar-track {
    background-color: white;
}

.modal-container::-webkit-scrollbar-thumb {
    background-color: var(--accent-color-dark);
    border-radius: 10px;
    height: 50px;
    /* You cannot alter the thumb height it comes by default */
}

/* Modal Table Styling */
table {
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
    border: 0.1px solid black;
}



th,
td {
    padding: 5px;
    border: 0.1px solid black;
    font-size: 0.8rem;
}

td {
    font-family: minion-pro, serif;
    color: var(--desc-text-color);
}

.modal-confirm-btn {
    font-size: 0.8rem;
    border-radius: 10px;
}


/* Important Information - ADD PASSENGER  Page*/

.info-head {
    background-color: #f34c4c;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 5px;

    @media(max-width:480px){
        font-size:1rem;
     }

    
}

.caution-logo {
    height: 25px;
    width: 25px;
}

.caution-head {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.info {
    margin-bottom: 40px;
    gap: 15px;
    max-width: 800px;
    padding: 20px;
    border: 2px solid #cccc;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    background-color: #f9f9f9cc;

    @media(max-width:480px){
        max-width: 360px;
        font-size:1rem;
     }

}

.info p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Footer  */

.footer {
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.footer p{
    @media(max-width:480px){
        font-size:1rem;
        line-height:20px;
    }
}


.footer .hover-link{
    @media(max-width:480px){
        font-size: 0.8rem;
    }
}

.footer-h3 {
    font-size: 1.3rem;

    @media(max-width:480px){
        font-size:1rem;
    }
}

.copyright {
    gap: 20px;
}

.Join-us {
    max-width: 260px;
    margin-left: 40px;
    gap: 20px;

    @media(max-width:480px){
        margin-left: 20px;
    }
}

.socials {
    margin-inline: 40px;
    gap: 20px;

    @media(max-width:480px){
        margin-inline: 20px;
    }
}

.contact-us {
    gap: 20px;
}

.social-links {
    gap: 10px;
}

.contact-links {
    gap: 10px;
}

.book-footer {
    position: relative;
    bottom: 10px;
    justify-content: center;
}

.book-footer-items {
    align-items: center;
}

/* Congratulations Page */

.cong-msg{
    position: absolute; 
    top: 40%; 
    left: 20%;

    @media(max-width:480px){
        width:350px;
        padding-inline: 0px;
        left: 8%;
    }
}

.cong-msg-footer{
    position: absolute; 
    bottom: 10px; 
    left: 35%;

    @media(max-width:480px){
        left: 10%;

    }
}